.search {
  transform: translateX(-10%);
}
.search label {
  margin: 5px;
  font-size: 20px;
}
.search input {
  padding: 5px 10px;
  border-radius: 25px;
}

@media (min-width: 768px) {
  .search input {
    padding: 10px 15px;
    border-radius: 25px;
  }
}
